name: ci

on:
  push:
   branches:
    - feature/workflows
    - main
  pull_request:
    branches:
      - main
env:
  # Default minimum version of Go to support.
  DEFAULT_GO_VERSION: "1.20"

jobs:
  lint:
    runs-on: ubuntu-latest
    env:
      GOPATH: /home/runner/work/open-feature/go-sdk-contrib
      GOBIN: /home/runner/work/open-feature/go-sdk-contrib/bin
    steps:
      - name: Install Go
        uses: actions/setup-go@v4
        with:
          go-version: ${{ env.DEFAULT_GO_VERSION }}
      - name: Checkout repository
        uses: actions/checkout@v3
      - name: Setup Environment
        run: |
          echo "GOPATH=$(go env GOPATH)" >> $GITHUB_ENV
          echo "$(go env GOPATH)/bin" >> $GITHUB_PATH
      - name: Module cache
        uses: actions/cache@v3
        env:
          cache-name: go-mod-cache
        with:
          path: ~/go/pkg/mod
          key: ${{ runner.os }}-${{ env.cache-name }}-${{ hashFiles('**/go.sum') }}
      - name: Run workspace init
        run: make workspace-init
      - name: Run linter
        run: make lint

  test:
    runs-on: ubuntu-latest
    services:
      # flagd-testbed for flagd-provider e2e tests
      flagd:
        image: ghcr.io/open-feature/flagd-testbed:v0.4.2
        ports:
          - 8013:8013
      # sync-testbed for flagd-provider e2e tests
      sync:
        image: ghcr.io/open-feature/sync-testbed:v0.4.2
        ports:
          - 9090:9090
    steps:
      - name: Install Go
        uses: actions/setup-go@v4
        with:
          go-version: ${{ env.DEFAULT_GO_VERSION }}
      - name: Checkout repository
        uses: actions/checkout@v3
        with:
          submodules: recursive
      - name: Setup Environment
        run: |
          echo "GOPATH=$(go env GOPATH)" >> $GITHUB_ENV
          echo "$(go env GOPATH)/bin" >> $GITHUB_PATH
      - name: Module cache
        uses: actions/cache@v3
        env:
          cache-name: go-mod-cache
        with:
          path: ~/go/pkg/mod
          key: ${{ runner.os }}-${{ env.cache-name }}-${{ hashFiles('**/go.sum') }}
      - name: Run workspace init
        run: make workspace-init
      - name: Run tests, including e2e
        run: make e2e